@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.navbar {
  position: sticky;
}

#logo {
  width: 90px;
  height: 50px;
  margin-right: 30px;
}

.btn {
  border: 1px black;
  margin-right: 50px;
  margin-left: 20px;
}

.btnhome {
  background-color: white;
  color: #6c1717;
}

.btnhome:hover {
  background-color: #6c1717;
  color: white;
}

.btnmenu {
  background-color: white;
  color: #6c1717;
}

.btnmenu:hover {
  background-color: #6c1717;
  color: white;
}

.btnabout {
  background-color: #6c1717;
  color: white;
}

.btnabout:hover {
  color: white;
}

body {
  background-color: #202136;
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 80vh;
  height: 100%;
  background: url(../assets/bg_about.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

#content {
  color: white;
  position: relative;
  z-index: 2;
  padding: 30px;
  text-align: justify;
  padding-top: 211px;
  padding-left: 540px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
